<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496615083102-d2ek039up1avuhjskhp5gfrci5h4hpm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496615083102-d2ek039up1avuhjskhp5gfrci5h4hpm8</string>
	<key>API_KEY</key>
	<string>AIzaSyCVcsDJaS_yJnW0D4O2FXyaLmfoAgLpUSE</string>
	<key>GCM_SENDER_ID</key>
	<string>496615083102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koso-suzuki.Balanced-Life</string>
	<key>PROJECT_ID</key>
	<string>balanced-life-7e006</string>
	<key>STORAGE_BUCKET</key>
	<string>balanced-life-7e006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496615083102:ios:a8186beb727a55278238cf</string>
	<key>DATABASE_URL</key>
	<string>https://balanced-life-7e006.firebaseio.com</string>
</dict>
</plist>